*{
	
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../img/bg.jpg);
}
/*头部导航部分*/
.dhdh{
	width: 100%;
    height: 100px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    border-bottom: 1px solid #cccccc;
}
.zong{
	pos-height: 65px;
	background: black;
	line-height: 65px;
	background: url(../img/bg.jpg);
	
}
.header-bg{
	height: 35px;
	background: black;
	line-height: 35px;
}
.header{
	width: 990px;
	height: 35px;
	margin: 0px auto;
}
.header-top1{
	height: 35px;
	
}
.header .header-top1 .banshi{
	height: 35px;
	display: inline-block;
}
.header .header-top1 .banshi a{
	color: white;
	text-decoration: none;
}
.header .header-top1 .denglu{
		height: 35px;
		display: inline-block;
		float: right;
}
.header .header-top1 .denglu a{
		color: white;
		text-decoration: none;
}
.header .header-top1 .denglu a{
	display: block;
	float: left;
	margin-left: 10px;
}
.header .header-top1 .denglu a .xiaoxi{
	width: 23px;
	height: 21px;
	margin: 9px 0px;
	background:url(../img/icon_bg.png) no-repeat -125px -124px;

}
.header .header-top1 .denglu a .xiaoxi1{
	width: 23px;
	height: 21px;
	margin: 9px 0px;
	background: url(../img/TIM截图20171215144110.png) no-repeat -2px -4px;
	background-size: cover;

}
.header .header-top1 .denglu a .tx{
	width: 35px;
	height: 35px;
	margin: 0px 0px;
	background: url(../img/admin.jpg) no-repeat;
	background-size: cover;

}
.header .header-top1 .denglu a .yhm{
	width: 100px;
	height: 21px;
	margin: 9px 0px;
	color: white;
	text-align: center;
	line-height: 21px;
}


.header02{
	width: 990px;
	height: 65px;
	margin: 0px auto;


}
.header02 .header-logo{
	width: 145px;
	height: 65px;

	background: url(../img/logo.png);
	background-size: cover;
	float: left;
}
.header02 .dh ul{
	line-height: 65px;
}
.header02 .dh{
	float: left;
	width: 630px;
}

.header02 .dh ul li{
	display: inline-block;
	list-style: none;
	margin-left: 10px;
	
}
.header02 .dh ul li a{
	color: #606060;
	text-decoration: none;
	font-size: 20px;
}
.header02 .dh ul li .span{
	display: block;
	width: 10px;
	height: 65px;
	background: url(../img/nav-line.png) no-repeat center center;
	line-height: 65px;
	float: right;
	margin-left: 3px;
}
.header02 .dh ul li .font{
	font-size: 22px;
}
.header02  .input {
	display: block;
	float: left;
	width: 165px;
	height: 65px;
	line-height: 65px;

}
.header02  .input form input{
	width: 163px;
}
.header02 .sobotton{
	width: 40px;
	height: 63px;
	float: left;
	line-height: 63px;
	
}
.header02 .sobotton input{
	
}

.header02 .sobotton .sousuo{
	width: 24px;
	height: 23px;
	margin: 21px 0px;
	background-color: white;
}
/*内容部分*/
.content{
	width:990px;
	margin: 120px auto;
}
.content .topimg{
	width: 990px;
	height: 150px;
	margin: 0px auto;
	background: url(../img/banner.png)no-repeat ;
	background-size: cover;	
	margin-bottom: 15px;
}
.content .leftdiv{
	width: 750px;
	background-color: white;
	float: left;
}
.content .leftdiv .biaoti{
	width: 200px;
	margin: 10px 0px 10px 10px;
	float: left;
}
.content .leftdiv .fy1{
	width: 140px;
	height: 40px;	
	float: right;
	margin: 5px 20px 0px 0px;	
}
.content .leftdiv .fy1 li{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.content .leftdiv .fy1 .li1{
	background: url(../img/turn.png)no-repeat 0px 1px;
	cursor: pointer;
}
.content .leftdiv .fy1 .li2{
	background: url(../img/turn.png)no-repeat 0px -237px;
	cursor: pointer;
}
.content .leftdiv .fy1 .li3{
	background: url(../img/turn.png)no-repeat 0px -47px;
	cursor: pointer;
}
.content .leftdiv hr{
	width: 725px;
	margin: 0px auto;
	
}
.content .leftdiv .text1{
	width: 300px;
	margin: 10px 0px 0px 10px;
	color: darkgray;
}
.content .leftdiv .text{
	width: 700px;
	margin: 0px auto;
}
.content .leftdiv .text p{
		letter-spacing: 2px;
		margin-top: 10px;
		text-indent: 2em;
}
.content .right {
	width: 230px;
	float: right;
}
.content .right1 {
	background-color:white;
	height: 50px;	
}
.content .right1 .jiathis_style_32x32{
	width: 180px;
	margin: 9px auto;
}
.content .right2 {
	background-color:white;
	height: 230px;
	margin-top: 10px;	
}
.content .right2 h3{
	margin: 10px 20px;
}
.content .right2 hr{
	width: 210px;
	margin: 0px auto;
}
.content .right2 p{	
	padding-top: 6px;
	margin: 0px 0px 3px 18px;
	font-size: 14px;
	width: 200px;	
}
.content .leftdiv .share{
	width:700px;
	height: 25px;
	line-height: 25px;
	margin: 10px 0px;
}
.content .leftdiv .share span{
	float: left;
}
.content .leftdiv .share .jiathis_style_24x24{
	width:500px ;
	float: left;
} 
.content .leftdiv .share .jiathis_style_24x24  span{
	font-size: 10px;
	text-indent: 0em;
}


.clear{
	clear: both;
	overflow: hidden;
	height: 0px;
}
.footer{
	width:100%
	height: 100px;
	text-align: center;
	line-height: 100px;
	border-top: 1px solid darkslategray;
	margin-top: 20px;
}
/*返回顶部*/
.totop{
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 15%;
	position: fixed;
	right: 100px;
	bottom: 100px;
	background: darkgray;
	font-size: 23px;
	
}
/*.share1{
	width: 50px;
	height: 200px;

	position: fixed;
	right: 100px;
	top: 200px;
	text-align: center;
}
.share1 .jiathis_style_32x32{
	width: 33px;
	margin: 0px auto;
}*/